.cv-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cv-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;

  nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: var(--background-color);
  }

  mat-tab-nav-panel {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
